
body {
    background-image: url(img/fondo.png);
    
}

.header_enlace {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.slogan {
    
    display: flex;
    justify-content: space-between;
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color:ghostwhite;
    
}

li {
    list-style: none;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: black;

}

.logo_u {
    position:absolute;
    margin-left: 180px;
    margin-top: 150px;
    text-align: justify;
    color: white;
    width: 400px;
    font-size: 20px;
}

p{
    margin-bottom: 0%;
}

@media (max-width: 600px) {

    header, ul {
        flex-direction: column;
    }
    
}